@import "src/style/palette";

.confirmed {
  margin-bottom: 4rem;
  display: block;
  display: flex;
  flex-direction: column;
  text-align: center;

  .notes {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .save {
    margin-bottom: 2rem;
  }

  .checkbox {
    margin-bottom: 1rem;
  }

  .name-wrapper {
    .name {
      margin: auto;
      display: block;
      margin-top: 0.5rem;
      outline: none;
      height: 2rem;
      text-align: center;
    }
  }
}
