@import "src/style/palette";

@import "src/style/media-queries.scss";

/* SECTION SAND */

.eat {
  --margin: 0 0 2rem;

  @include ms {
    --margin: 0 0 3rem;
  }
}

.eat {
  margin: var(--margin);
  align-self: flex-end;
  display: flex;
  align-items: center;

  svg {
    width: 40px;
    fill: $primary;
    margin-right: 0.4rem;
  }
}
