@import "src/style/z-index";
@import "src/style/palette";
@import "src/style/media-queries.scss";

.label {
  --size: 4rem;

  @include ms {
    --size: 7rem;
  }
}

.intro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: var(--size);
  color: $primary-light;
  font-family: "MoonDance-Regular";
  z-index: z-index("base");
  text-align: center;
}
