@import "src/style/z-index";
@import "src/style/palette";
@import "src/style/media-queries.scss";

.info {
  padding: 0.4rem 0.4rem 6rem;

  .phrase {
    margin-top: 3rem;
    font-size: 1.4rem;
    color: $primary;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
}
