@import "src/style/z-index";
@import "src/style/palette";
@import "src/style/media-queries.scss";

.wave,
.wave-wrapper {
  --wave-height: 6rem;
  --wave-width: 40rem;

  @include ms {
    --wave-height: 10rem;
    --wave-width: 60rem;
  }

  @include m {
    --wave-height: 8rem;
    --wave-width: 55rem;
  }
}

.wave-wrapper {
  height: calc(var(--wave-height) - 2px);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300%;
  height: calc(var(--wave-height) - 2px);
  background-size: var(--wave-width) var(--wave-height);
}

.wave-1 {
  z-index: z-index("waves");
  opacity: 1;
  width: 100%;
}

.wave-2 {
  z-index: z-index("waves") - 1;
  opacity: 0.5;
  width: 100%;
}

.wave-3 {
  z-index: z-index("waves") - 2;
  opacity: 0.2;
  width: 100%;
}

.wave-4 {
  z-index: z-index("waves") - 3;
  opacity: 0.7;
  width: 100%;
}

.section-sky__wave-1 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 25rem;
}

.section-sky__wave-2 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 20rem;
}

.section-sky__wave-3 {
  z-index: 998;
  opacity: 0.2;
  background-position-x: 15rem;
}

.section-sky__wave-4 {
  z-index: 997;
  opacity: 0.7;
  background-position-x: 10rem;
}
