@import "src/style/palette";
.section-sand__dance {
  // opacity: 0;
  // transform: scale(0);
  text-align: center;
  display: flex;
  align-items: center;
}

.section-sand__dance svg {
  width: 45px;
  height: 45px;
  fill: $primary;
  margin-left: 0.4rem;
}
