@import "src/style/z-index";
@import "src/style/palette";
@import "src/style/media-queries.scss";

.link {
  --link: 3rem;

  @include ms {
    --link: 3.5rem;
  }

  @include m {
    --link: 3rem;
  }
}

.link {
  position: absolute;
  left: 50%;
  bottom: 2%;
  z-index: z-index("navigation");
  height: var(--link);
  width: var(--link);
  border-radius: 50%;
  border: 3px solid $sky;
  transform: translate3d(-50%, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
