@keyframes animate {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes animateLink {
  0%,
  100% {
    transform: translate3d(-50%, 0, 0);
  }
  50% {
    transform: translate3d(-50%, 10px, 0);
  }
}

@keyframes twinkle {
  50% {
    opacity: 1;
  }
}
