$primary: #074467;

//SECTIONS

$sand: #fef1e5;
$sand-variant: #faedcd;
$cloud: #c4def4;
$sun: #ffdb85;
$sky: #87c6d8;

//BUTTONS
$button-primary: #87c6d8;
$button-secondary: #f0f0f1;
$button-background: #eaf1fb;

//COLORS
$primary-light: #ffffff;
$secondary-light: #f6f8fc;
$primary-dark: #000000;
