@import "src/style/z-index";
@import "src/style/palette";
@import "src/style/media-queries.scss";

/* SECTION SKY */

.sun {
  --sun-height: 3rem;
  --sun-width: 3rem;
  --sun-space: 3rem;

  @include hms {
    @include ms {
      --sun-height: 5rem;
      --sun-width: 5rem;
      --sun-space: 5rem;
    }

    @include m {
      --sun-space: 8rem;
    }
  }
}

.sun {
  background-color: $sun;
  height: var(--sun-height);
  width: var(--sun-width);
  border-radius: 50%;
  position: absolute;
  margin: var(--sun-space) 0 0 var(--sun-space);
  box-shadow: 0 0 0.5rem 0.6rem rgba($sun, 0.6),
    0 0 0.5rem 1.2rem rgba($sun, 0.5), 0 0 0.8rem 1.8rem rgba($sun, 0.4);
}
