@import "src/style/palette";
@import "src/style/media-queries.scss";

.sand,
.info {
  --size: 1.7rem;
  --padding-info: 4rem;
  --padding-section: 3rem 2rem 3rem;

  @include ms {
    --size: 2.5rem;
    --padding-info: 7rem;
    --padding-section: 5rem 0;
  }

  @include m {
    --padding-section: 5rem 0 5rem;
  }
}

.sand {
  background-color: $sand;
  overflow: hidden;
  font-size: var(--size);
  font-family: "Montserrat", sans-serif;
  color: $primary;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-section);
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  padding-bottom: var(--padding-info);
}
