@import "src/style/palette";

/* SECTION SAND */

.section-sand {
  --size: 1.7rem;
  --size-ps: 1rem;
  --size-maps-link: 1rem;
  --size-svg-names: 12rem;
  --size-svg-ampersand: 2rem;
  --padding-box: 4rem;
  --padding-info: 2rem;
  --padding-section: 3rem 2rem 3rem;
  --padding-ps: 0;
}

@media screen and (min-width: 768px) {
  .section-sand {
    --size: 2.5rem;
    --size-ps: 1.5rem;
    --size-svg-names: 17rem;
    --size-svg-ampersand: 3rem;
    --padding-box: 7rem;
    --padding-info: 3rem;
    --padding-section: 5rem 0;
    --padding-ps: 0 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-sand {
    --padding-section: 5rem 0 5rem;
  }
}

.section-sand {
  background-color: $sand;
  overflow: hidden;
  font-size: var(--size);
  font-family: "Montserrat-Italic", sans-serif;
  color: $primary;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-section);
}

/* INFOS */

.section-sand__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Montserrat-Italic", sans-serif;
  align-items: center;
  padding-bottom: var(--padding-box);
}
