@import "src/style/palette";

.section-sand__where {
  text-align: center;
  padding-bottom: var(--padding-info);
}

.section-sand__maps-link {
  font-size: var(--size-maps-link);
  color: $primary;
  position: relative;
}
.section-sand__maps-link p {
  position: relative;
  margin-top: 0.2rem;
  line-height: 1.4rem;
}

.section-sand__maps-link svg {
  fill: $primary;
  position: absolute;
  bottom: 0;
  margin-left: 0.4rem;
  width: 1.2rem;
}
