@import "src/style/palette";

.section-sand__names {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--padding-box);
}
.section-sand__michele-svg,
.section-sand__gabriella-svg {
  width: var(--size-svg-names);
}
.section-sand__ampersand-svg {
  width: var(--size-svg-ampersand);
}

.michele-path,
.michele-circle,
.gabriella-path,
.gabriella-circle,
.ampersand-path {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  /* animation: dash 5s linear alternate infinite; */
}
