@import "src/style/z-index";
@import "src/style/palette";

/* SECTION SKY */

.section-sky {
  --sun: 3rem;
  --sun-space: 3rem;
  --cloud: 10rem;
  --size-text: 4rem;
  --link: 3rem;
  --wave-height: 6rem;
  --wave-width: 40rem;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
  .section-sky {
    --sun: 5rem;
    --sun-space: 5rem;
    --cloud: 15rem;
    --size-text: 7rem;
    --link: 3.5rem;
    --wave-height: 10rem;
    --wave-width: 60rem;
  }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
  .section-sky {
    --sun: 5rem;
    --sun-space: 8rem;
    --cloud: 20rem;
    --size-text: 7rem;
    --link: 3rem;
    --wave-height: 8rem;
    --wave-width: 55rem;
  }
}

.section-sky {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.section-sky__background {
  background-color: $sky;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: background-color;
}

.section-sky__cloud {
  position: absolute;
  height: var(--cloud);
  width: var(--cloud);
  animation: animate 4s ease-in-out infinite;
  opacity: 1;
  top: 0;
  left: 0;
  background: url(../../images/cloud.png);
  background-size: var(--cloud) var(--cloud);
}
